<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.udacity.gustavosotnas.a5thingsyoudidntknowaboutgit">

    <application android:allowBackup="true" android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" android:supportsRtl="true" android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".NewCommitsActivity" android:label="@string/thing_1"/>
        <activity android:name=".CommittingPersonActivity" android:label="@string/thing_2"/>
        <activity android:name=".CommittingDateActivity" android:label="@string/thing_3"/>
        <activity android:name=".MasteringGitTagsActivity" android:label="@string/thing_4"/>
        <activity android:name=".BestPracticesActivity" android:label="@string/thing_5"/>
        <activity
            android:name=".RepositoryNameActivity"
            android:label="@string/title_activity_repository_name"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.udacity.gustavosotnas.a5thingsyoudidntknowaboutgit.MainActivity" />
        </activity>
    </application>

</manifest>